<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="width: 350px">
    <h2 class="text-center mb-4">Login</h2>

    <div class="mb-3">
      <label for="accountNumber" class="form-label">Username </label>
      <input type="text" id="accountNumber" class="form-control" [(ngModel)]="userName" placeholder="Username" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="passWord" placeholder="Enter Password" />
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select id="role" class="form-select" [(ngModel)]="role">
        <option value="" disabled selected>Select Role</option>
        <option value="household">Household</option>
        <option value="admin">Admin</option>
        
      </select>
    </div>

    <button class="btn btn-primary w-100" (click)="login()">Login</button>

    <p *ngIf="message" class="mt-3 text-center text-danger">{{ message }}</p>
  </div>
</div>
